<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FA288BC1DE5D189009D83D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FA288D01DE5D18B009D83D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FA288DB1DE5D18B009D83D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
